body{
    margin: 0;
    background-color: #eee;
    
}

.container{
    width: 900px;
    margin: auto;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 30px 0 20px rgba(0, 0, 0, 0.2), -30px 0px 20px rgba(0, 0, 0, 0.2);
    
}
.textpart{
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagepart{
    width: 600px;
    height: 100vh;
    background-image: url(images/photo1.jfif);
    background-position: center;
    background-size: cover;
}

.btn{
    text-decoration: none;
    border: solid 1px;
    padding: 15px 30px;
    border-radius: 30px;
    border-color: red;
    color: #000;
}

.btn:hover{
    background-color: black;
    color:#fff;
}

.yci-title{
    width: 200px;
    text-align: center;
    text-shadow: -3px -3px 3px grey;
}
.slogan{
    color:silver;
    text-align: center;
}

.title{
    background-color: rgba(0, 0, 0, 0.712);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text{
    color: #fff;
    border-right-style: dotted;
    border-left-style: dotted;
    border-color: white;
    border-width: 1px;
    padding: 0 10px;
}

.workimg{
    width: 900px;
    height: 75vh;
    display: block;
}

.work-container{
    width: 900px;
    margin: 0 auto 50px auto;
    padding-bottom: 10px;
    background-color: #fff;   
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.2), -30px 30px 20px rgba(0, 0, 0, 0.2);

}

.photo-title{
    text-align: center;
}

.contact{
    text-align: center;
    margin-bottom: 50px;
}

.address{
    text-decoration: none;
}


